{{main-header changeTheme='changeTheme'}}

{{content/hero-video}}

<div class="">
  <div class="container page-header"
       style="border-radius: 50%;height: 500px;width: 500px;text-align: center;padding-top: 200px !important;">
    <h1>MICHAEL GEATZ
      <small><br>Software Engineer</small>
    </h1>
  </div>

  <br><br>

  <div class="center_align">
    <a href="#main"><i class="fas fa-angle-double-down font_big"></i></a>
  </div>

  <br><br><br>

  <section class="container-fluid">
    <div class="col-sm-4" id="main">
      {{content/thumbnail-plus 'fas fa-male font_big'
                               'Individual Services'
                               'Education: Webinars | Live Stream | Tutoring'
                               'newRoute'
                               'individual'}}
    </div>
    <div class="col-sm-4">
      {{content/thumbnail-plus 'fas fa-users font_big'
                               'Small Business Services'
                               'Development | Hosting | Website | Mobile Application'
                               'newRoute'
                               'small-business'}}
    </div>
    <div class="col-sm-4">
      {{content/thumbnail-plus 'fas fa-building font_big'
                               'Enterprise Consulting'
                               'AEM Consulting Available'
                               'newRoute'
                               'enterprise'}}
    </div>
  </section>

</div>

{{main-footer}}
