{{mini-hero-video}}

<section class="container-fluid sub_page">
  <div class="container page-header">
    <h1>Individual Services
      <small>Educational Items For The People</small>
    </h1>
  </div>

  <section class="container">
    <div class="row promo_media">
      <div class="col-sm-3">
        {{content/thumbnail-plus 'fab fa-html5 font_big'
                                 'Learn HTML5'
                                 'What makes a webpage?'
                                 'newRoute'
                                 'html5'}}
      </div>
      <div class="col-sm-3">
        {{content/thumbnail-plus 'fab fa-css3-alt font_big' 'Explore CSS' 'How to add style.'}}
      </div>
      <div class="col-sm-3">
        {{content/thumbnail-plus 'fab fa-js-square font_big' 'Conquor JavaScript' 'Breathing life into an app'}}
      </div>
      <div class="col-sm-3">
        {{content/thumbnail-plus 'fab fa-node-js font_big' 'NodeJS APIs' 'Beyond the DOM'}}
      </div>
    </div>

    <div class="row promo_media">
      <div class="col-sm-3">
        {{content/thumbnail-plus 'fab fa-linode font_big' 'Java BlockChain' 'The future begins'}}
      </div>
      <div class="col-sm-3">
        {{content/thumbnail-plus 'fab fa-cloudversify font_big' 'Cloud Solutions' 'Host everything elsewhere'}}
      </div>
      <div class="col-sm-3">
        {{content/thumbnail-plus 'fas fa-server font_big' 'Server Configuration' 'Build one to understand'}}
      </div>
      <div class="col-sm-3">
        {{content/thumbnail-plus 'fas fa-phone-square font_big' 'Contact Info' 'If you need help w/ something'}}
      </div>
    </div>
  </section>
</section>